* {
  font-family: "Poppins", sans-serif;
}

#header {
  padding: 0.75rem 0px 0.75rem 0px;
}

#cateringin-logo-wrapper {
  padding: 0rem;
  margin: 0rem;
}

#nav-item-link {
  color: black;
  font-size: 1rem;
}

#nav-item-link:hover {
  color: #5cac0e;
}

#home-menu,
#order-menu {
  margin-right: 2.5rem;
}

#burger-icon {
  background-color: #5cac0e;
}

.wrapper {
  margin: 2rem 0rem 3rem 3rem;
  display: flex;
  flex-direction: column;
}

#wrapper-heading {
  font-size: 2rem;
  color: #5cac0e;
  text-align: center;
  margin-bottom: 0rem;
}

#wrapper-sub-heading {
  margin: 2rem 0rem 0rem 0rem;
  font-size: 1.25rem;
  text-align: left;
  height: 1.5rem;
}

.wrapper-one {
  margin-top: 1.5rem;
  font-size: 1.125rem;
  color: #5cac0e;
  text-align: left;
}

#wrapper-one-row-one {
  margin-bottom: 0.25rem;
  height: 1.5rem;
}

#wrapper-one-row-two {
  margin-bottom: 0rem;
  height: 1.5rem;
}

ul {
  margin-bottom: 0rem;
}

.wrapper-two-wrapper {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.wrapper-two-wrapper-row-one {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.wrapper-two-wrapper-row-one-food-one {
  margin-right: 1.5rem;
  text-align: center;
}

#wrapper-two-wrapper-row-one-food-one-bigger-text {
  margin-bottom: 0.25rem;
  font-size: 1.125rem;
  height: 1.5rem;
}

#wrapper-two-wrapper-row-one-food-one-image {
  width: 16rem;
  height: 12rem;
}

#wrapper-two-wrapper-row-one-food-one-smaller-text {
  margin-top: 0.25rem;
  font-size: 1rem;
  height: 1.25rem;
  color: #5cac0e;
}

.wrapper-two-wrapper-row-one-food-two {
  margin-right: 1.5rem;
  text-align: center;
}

#wrapper-two-wrapper-row-one-food-two-bigger-text {
  margin-bottom: 0.25rem;
  font-size: 1.125rem;
  height: 1.5rem;
}

#wrapper-two-wrapper-row-one-food-two-image {
  width: 16rem;
  height: 12rem;
}

#wrapper-two-wrapper-row-one-food-two-smaller-text {
  margin-top: 0.25rem;
  font-size: 1rem;
  height: 1.25rem;
  color: #5cac0e;
}

.wrapper-two-wrapper-row-one-food-three {
  text-align: center;
}

#wrapper-two-wrapper-row-one-food-three-bigger-text {
  margin-bottom: 0.25rem;
  font-size: 1.125rem;
  height: 1.5rem;
}

#wrapper-two-wrapper-row-one-food-three-image {
  width: 16rem;
  height: 12rem;
}

#wrapper-two-wrapper-row-one-food-three-smaller-text {
  margin-top: 0.25rem;
  font-size: 1rem;
  height: 1.25rem;
  color: #5cac0e;
}

.wrapper-two-wrapper-row-two {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.wrapper-two-wrapper-row-two-food-one {
  margin-right: 1.5rem;
  text-align: center;
}

#wrapper-two-wrapper-row-two-food-one-bigger-text {
  margin-bottom: 0.25rem;
  font-size: 1.125rem;
  height: 1.5rem;
}

#wrapper-two-wrapper-row-two-food-one-image {
  width: 16rem;
  height: 12rem;
}

#wrapper-two-wrapper-row-two-food-one-smaller-text {
  margin-top: 0.25rem;
  font-size: 1rem;
  height: 1.25rem;
  margin-bottom: 0rem;
  color: #5cac0e;
}

.wrapper-two-wrapper-row-two-food-two {
  text-align: center;
  margin-right: 1.5rem;
}

#wrapper-two-wrapper-row-two-food-two-bigger-text {
  margin-bottom: 0.25rem;
  font-size: 1.125rem;
  height: 1.5rem;
}

#wrapper-two-wrapper-row-two-food-two-image {
  width: 16rem;
  height: 12rem;
}

#wrapper-two-wrapper-row-two-food-two-smaller-text {
  margin-top: 0.25rem;
  font-size: 1rem;
  height: 1.25rem;
  margin-bottom: 0rem;
  color: #5cac0e;
}

.wrapper-three {
  margin-top: 1.5rem;
}

#wrapper-three-text {
  font-size: 1.125rem;
  color: black;
  height: 1.5rem;
  margin-bottom: 0rem;
}

.wrapper-three-order-data-box {
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  margin-top: 0.75rem;
  width: 21.5rem;
  height: 30.25rem;
  background: #ddffcb;
  border-radius: 1.5rem;
}

#wrapper-three-order-data-box-name {
  color: black;
  font-size: 1rem;
  height: 1.25rem;
  margin-bottom: 0.75rem;
}

#wrapper-three-order-data-box-delivery-address {
  margin: 1rem 0rem 0rem 0rem;
  color: black;
  font-size: 1rem;
  height: 1.25rem;
}

#wrapper-three-order-data-box-phone-number {
  margin: 1rem 0rem 0rem 0rem;
  color: black;
  font-size: 1rem;
  height: 1.25rem;
}

#wrapper-three-order-data-box-notes {
  margin: 1rem 0rem 0rem 0rem;
  color: black;
  font-size: 1rem;
  height: 1.25rem;
}

#wrapper-three-order-data-box-name-input-field {
  width: 18.5rem;
  height: 2.5rem;
  border: none;
  background: white;
  border-radius: 1.5rem;
  font-size: 1rem;
  padding: 0rem 0.75rem 0rem 0.75rem;
}

#wrapper-three-order-data-box-delivery-address-input-field {
  margin-top: 0.75rem;
  width: 18.5rem;
  height: 2.5rem;
  border: none;
  background: white;
  border-radius: 1.5rem;
  font-size: 1rem;
  padding: 0rem 0.75rem 0rem 0.75rem;
}

#wrapper-three-order-data-box-phone-number-input-field {
  margin-top: 0.75rem;
  width: 18.5rem;
  height: 2.5rem;
  border: none;
  background: white;
  border-radius: 1.5rem;
  font-size: 1rem;
  padding: 0rem 0.75rem 0rem 0.75rem;
}

#wrapper-three-order-data-box-notes-input-field {
  margin-top: 0.75rem;
  width: 18.5rem;
  height: 2.5rem;
  border: none;
  background: white;
  border-radius: 1.5rem;
  font-size: 1rem;
  padding: 0rem 0.75rem 0rem 0.75rem;
}

#wrapper-three-order-data-box-your-balance-now {
  margin: 1rem 0rem 0rem 0rem;
  height: 1.25rem;
}

.wrapper-three-order-data-box-order-and-pay-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wrapper-three-order-data-box-order-and-pay-button-wrapper-order-and-pay-button {
  margin: 1.5rem 0rem 0rem 0rem;
  width: 15rem;
  height: 2.5rem;
  background: #5cac0e;
  border-radius: 1.5rem;
  text-decoration: none;
}

#wrapper-three-order-data-box-order-and-pay-button-wrapper-order-and-pay-button-text {
  text-align: center;
  color: white;
  font-size: 1rem;
  margin-bottom: 0rem;
  line-height: 2.5rem;
}

.footer {
  padding: 1rem 0rem 1rem 0rem;
  height: 5.75rem;
  background: #5cac0e;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-social-media {
  margin-bottom: 0.25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-social-media-instagram,
.footer-social-media-facebook {
  margin-right: 1rem;
}

.footer-social-media-instagram img,
.footer-social-media-facebook img,
.footer-social-media-twitter img {
  width: 2.25rem;
  height: 2.25rem;
}

#footer-copyright-text {
  color: white;
  font-size: 1rem;
  text-align: center;
}

@media only screen and (max-width: 991px) {
  #header {
    padding: 0.7125rem 0rem 0.7125rem 0rem;
  }

  #cateringin-logo-wrapper {
    padding: 0rem;
    margin: 0rem;
  }

  #cateringin-logo-wrapper img {
    width: 7.363rem;
    height: 3.8rem;
  }

  #nav-item-link {
    color: black;
    font-size: 0.95rem;
  }

  #home-menu,
  #order-menu {
    margin-right: 0rem;
  }

  #burger-icon {
    background-color: #5cac0e;
  }

  .wrapper {
    margin: 1.8rem 0rem 2.85rem 2.85rem;
    display: flex;
    flex-direction: column;
  }

  #wrapper-heading {
    font-size: 1.9rem;
    color: #5cac0e;
    text-align: center;
    margin-bottom: 0rem;
  }

  #wrapper-sub-heading {
    margin: 1.9rem 0rem 0rem 0rem;
    font-size: 1.1875rem;
    text-align: left;
    height: 1.425rem;
  }

  .wrapper-one {
    margin-top: 1.425rem;
    font-size: 1.06875rem;
    color: #5cac0e;
    text-align: left;
  }

  #wrapper-one-row-one {
    margin-bottom: 0.2375rem;
    height: 1.425rem;
  }

  #wrapper-one-row-two {
    margin-bottom: 0rem;
    height: 1.425rem;
  }

  ul {
    margin-bottom: 0rem;
  }

  .wrapper-two-wrapper {
    margin-top: 1.425rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .wrapper-two-wrapper-row-one {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .wrapper-two-wrapper-row-one-food-one {
    text-align: center;
    margin-right: 0rem;
  }

  #wrapper-two-wrapper-row-one-food-one-bigger-text {
    margin-bottom: 0.2375rem;
    font-size: 1.06875rem;
    height: 1.425rem;
  }

  #wrapper-two-wrapper-row-one-food-one-image {
    width: 15.2rem;
    height: 11.4rem;
  }

  #wrapper-two-wrapper-row-one-food-one-smaller-text {
    margin-top: 0.2375rem;
    font-size: 0.95rem;
    height: 1.1875rem;
    color: #5cac0e;
    margin-bottom: 0.95rem;
  }

  .wrapper-two-wrapper-row-one-food-two {
    text-align: center;
    margin-right: 0rem;
  }

  #wrapper-two-wrapper-row-one-food-two-bigger-text {
    margin-bottom: 0.2375rem;
    font-size: 1.06875rem;
    height: 1.425rem;
  }

  #wrapper-two-wrapper-row-one-food-two-image {
    width: 15.2rem;
    height: 11.4rem;
  }

  #wrapper-two-wrapper-row-one-food-two-smaller-text {
    margin-top: 0.2375rem;
    font-size: 0.95rem;
    height: 1.1875rem;
    color: #5cac0e;
    margin-bottom: 0.95rem;
  }

  .wrapper-two-wrapper-row-one-food-three {
    text-align: center;
    margin-right: 0rem;
  }

  #wrapper-two-wrapper-row-one-food-three-bigger-text {
    margin-bottom: 0.2375rem;
    font-size: 1.06875rem;
    height: 1.425rem;
  }

  #wrapper-two-wrapper-row-one-food-three-image {
    width: 15.2rem;
    height: 11.4rem;
  }

  #wrapper-two-wrapper-row-one-food-three-smaller-text {
    margin-top: 0.2375rem;
    font-size: 0.95rem;
    height: 1.1875rem;
    color: #5cac0e;
    margin-bottom: 0.95rem;
  }

  .wrapper-two-wrapper-row-two {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .wrapper-two-wrapper-row-two-food-one {
    text-align: center;
    margin-right: 0rem;
  }

  #wrapper-two-wrapper-row-two-food-one-bigger-text {
    margin-bottom: 0.2375rem;
    font-size: 1.06875rem;
    height: 1.425rem;
  }

  #wrapper-two-wrapper-row-two-food-one-image {
    width: 15.2rem;
    height: 11.4rem;
  }

  #wrapper-two-wrapper-row-two-food-one-smaller-text {
    margin: 0.2375rem 0rem 0.95rem 0rem;
    font-size: 0.95rem;
    height: 1.1875rem;
    color: #5cac0e;
    margin-bottom: 0.95rem;
  }

  .wrapper-two-wrapper-row-two-food-two {
    text-align: center;
    margin-right: 0rem;
  }

  #wrapper-two-wrapper-row-two-food-two-bigger-text {
    margin-bottom: 0.2375rem;
    font-size: 1.06875rem;
    height: 1.425rem;
  }

  #wrapper-two-wrapper-row-two-food-two-image {
    width: 15.2rem;
    height: 11.4rem;
  }

  #wrapper-two-wrapper-row-two-food-two-smaller-text {
    margin: 0.2375rem 0rem 0rem 0rem;
    font-size: 0.95rem;
    height: 1.1875rem;
    color: #5cac0e;
    margin-bottom: 0.95rem;
  }

  .wrapper-three {
    margin-top: 1.425rem;
  }

  #wrapper-three-text {
    font-size: 1.06875rem;
    color: black;
    height: 1.425rem;
    margin-bottom: 0rem;
  }

  .wrapper-three-order-data-box {
    padding: 1.425rem 1.425rem 1.425rem 1.425rem;
    margin-top: 0.7125rem;
    width: 20.425rem;
    height: 28.7375rem;
    background: #ddffcb;
    border-radius: 1.425rem;
  }

  #wrapper-three-order-data-box-name {
    color: black;
    font-size: 0.95rem;
    height: 1.1875rem;
    margin-bottom: 0.7125rem;
  }

  #wrapper-three-order-data-box-delivery-address {
    margin: 0.95rem 0rem 0rem 0rem;
    color: black;
    font-size: 0.95rem;
    height: 1.1875rem;
  }

  #wrapper-three-order-data-box-phone-number {
    margin: 0.95rem 0rem 0rem 0rem;
    color: black;
    font-size: 0.95rem;
    height: 1.1875rem;
  }

  #wrapper-three-order-data-box-notes {
    margin: 0.95rem 0rem 0rem 0rem;
    color: black;
    font-size: 0.95rem;
    height: 1.1875rem;
  }

  #wrapper-three-order-data-box-name-input-field {
    width: 17.575rem;
    height: 2.375rem;
    border: none;
    background: white;
    border-radius: 1.425rem;
    font-size: 0.95rem;
    padding: 0rem 0.7125rem 0rem 0.7125rem;
  }

  #wrapper-three-order-data-box-delivery-address-input-field {
    margin-top: 0.7125rem;
    width: 17.575rem;
    height: 2.375rem;
    border: none;
    background: white;
    border-radius: 1.425rem;
    font-size: 0.95rem;
    padding: 0rem 0.7125rem 0rem 0.7125rem;
  }

  #wrapper-three-order-data-box-phone-number-input-field {
    margin-top: 0.7125rem;
    width: 17.575rem;
    height: 2.375rem;
    border: none;
    background: white;
    border-radius: 1.425rem;
    font-size: 0.95rem;
    padding: 0rem 0.7125rem 0rem 0.7125rem;
  }

  #wrapper-three-order-data-box-notes-input-field {
    margin-top: 0.7125rem;
    width: 17.575rem;
    height: 2.375rem;
    border: none;
    background: white;
    border-radius: 1.425rem;
    font-size: 0.95rem;
    padding: 0rem 0.7125rem 0rem 0.7125rem;
  }

  #wrapper-three-order-data-box-your-balance-now {
    margin: 0.95rem 0rem 0rem 0rem;
    height: 1.1875rem;
  }

  .wrapper-three-order-data-box-order-and-pay-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .wrapper-three-order-data-box-order-and-pay-button-wrapper-order-and-pay-button {
    margin: 1.425rem 0rem 0rem 0rem;
    width: 14.25rem;
    height: 2.375rem;
    background: #5cac0e;
    border-radius: 1.425rem;
    text-decoration: none;
  }

  #wrapper-three-order-data-box-order-and-pay-button-wrapper-order-and-pay-button-text {
    text-align: center;
    color: white;
    font-size: 0.95rem;
    margin-bottom: 0rem;
    line-height: 2.375rem;
  }

  .footer {
    padding: 0.95rem 0rem 0.95rem 0rem;
    height: 5.4625rem;
    background: #5cac0e;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-social-media {
    margin-bottom: 0.2375rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #footer-social-media-instagram,
  #footer-social-media-facebook {
    margin-right: 0.95rem;
  }

  #footer-social-media-instagram img,
  #footer-social-media-facebook img,
  #footer-social-media-twitter img {
    width: 2.138rem;
    height: 2.138rem;
  }

  #footer-copyright-text {
    color: white;
    font-size: 0.95rem;
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  #header {
    padding: 0.675rem 0rem 0.675rem 0rem;
  }

  #cateringin-logo-wrapper {
    padding: 0rem;
    margin: 0rem;
  }

  #cateringin-logo-wrapper img {
    width: 6.975rem;
    height: 3.6rem;
  }

  #nav-item-link {
    color: black;
    font-size: 0.9rem;
  }

  #home-menu,
  #order-menu {
    margin-right: 0rem;
  }

  #burger-icon {
    background-color: #5cac0e;
  }

  .wrapper {
    margin: 1.6rem 0rem 2.7rem 1.2rem;
    display: flex;
    flex-direction: column;
  }

  #wrapper-heading {
    font-size: 1.8rem;
    color: #5cac0e;
    text-align: center;
    margin-bottom: 0rem;
  }

  #wrapper-sub-heading {
    margin: 1.8rem 0rem 0rem 0rem;
    font-size: 1.125rem;
    text-align: left;
    height: 1.35rem;
  }

  .wrapper-one {
    margin-top: 1.35rem;
    font-size: 1.0125rem;
    color: #5cac0e;
    text-align: left;
  }

  #wrapper-one-row-one {
    margin-bottom: 0.225rem;
    height: 1.35rem;
  }

  #wrapper-one-row-two {
    margin-bottom: 0rem;
    height: 1.35rem;
  }

  ul {
    margin-bottom: 0rem;
  }

  .wrapper-two-wrapper {
    margin-top: 1.35rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .wrapper-two-wrapper-row-one {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .wrapper-two-wrapper-row-one-food-one {
    text-align: center;
    margin-right: 0rem;
  }

  #wrapper-two-wrapper-row-one-food-one-bigger-text {
    margin-bottom: 0.225rem;
    font-size: 1.0125rem;
    height: 1.35rem;
  }

  #wrapper-two-wrapper-row-one-food-one-image {
    width: 14.4rem;
    height: 10.8rem;
  }

  #wrapper-two-wrapper-row-one-food-one-smaller-text {
    margin-top: 0.225rem;
    font-size: 0.9rem;
    height: 1.125rem;
    color: #5cac0e;
    margin-bottom: 0.9rem;
  }

  .wrapper-two-wrapper-row-one-food-two {
    text-align: center;
    margin-right: 0rem;
  }

  #wrapper-two-wrapper-row-one-food-two-bigger-text {
    margin-bottom: 0.225rem;
    font-size: 1.0125rem;
    height: 1.35rem;
  }

  #wrapper-two-wrapper-row-one-food-two-image {
    width: 14.4rem;
    height: 10.8rem;
  }

  #wrapper-two-wrapper-row-one-food-two-smaller-text {
    margin-top: 0.225rem;
    font-size: 0.9rem;
    height: 1.125rem;
    color: #5cac0e;
    margin-bottom: 0.9rem;
  }

  .wrapper-two-wrapper-row-one-food-three {
    text-align: center;
    margin-right: 0rem;
  }

  #wrapper-two-wrapper-row-one-food-three-bigger-text {
    margin-bottom: 0.225rem;
    font-size: 1.0125rem;
    height: 1.35rem;
  }

  #wrapper-two-wrapper-row-one-food-three-image {
    width: 14.4rem;
    height: 10.8rem;
  }

  #wrapper-two-wrapper-row-one-food-three-smaller-text {
    margin-top: 0.225rem;
    font-size: 0.9rem;
    height: 1.125rem;
    color: #5cac0e;
    margin-bottom: 0.9rem;
  }

  .wrapper-two-wrapper-row-two {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .wrapper-two-wrapper-row-two-food-one {
    text-align: center;
    margin-right: 0rem;
  }

  #wrapper-two-wrapper-row-two-food-one-bigger-text {
    margin-bottom: 0.225rem;
    font-size: 1.0125rem;
    height: 1.35rem;
  }

  #wrapper-two-wrapper-row-two-food-one-image {
    width: 14.4rem;
    height: 10.8rem;
  }

  #wrapper-two-wrapper-row-two-food-one-smaller-text {
    margin: 0.225rem 0rem 0.9rem 0rem;
    font-size: 0.9rem;
    height: 1.125rem;
    color: #5cac0e;
    margin-bottom: 0.9rem;
  }

  .wrapper-two-wrapper-row-two-food-two {
    text-align: center;
    margin-right: 0rem;
  }

  #wrapper-two-wrapper-row-two-food-two-bigger-text {
    margin-bottom: 0.225rem;
    font-size: 1.0125rem;
    height: 1.35rem;
  }

  #wrapper-two-wrapper-row-two-food-two-image {
    width: 14.4rem;
    height: 10.8rem;
  }

  #wrapper-two-wrapper-row-two-food-two-smaller-text {
    margin: 0.2375rem 0rem 0rem 0rem;
    font-size: 0.95rem;
    height: 1.1875rem;
    color: #5cac0e;
    margin-bottom: 0.9rem;
  }

  .wrapper-three {
    margin-top: 1.35rem;
  }

  #wrapper-three-text {
    font-size: 1.0125rem;
    color: black;
    height: 1.35rem;
    margin-bottom: 0rem;
  }

  .wrapper-three-order-data-box {
    padding: 1.35rem 1.35rem 1.35rem 1.35rem;
    margin-top: 0.675rem;
    width: 19.35rem;
    height: 27.225rem;
    background: #ddffcb;
    border-radius: 1.35rem;
  }

  #wrapper-three-order-data-box-name {
    color: black;
    font-size: 0.9rem;
    height: 1.125rem;
    margin-bottom: 0.675rem;
  }

  #wrapper-three-order-data-box-delivery-address {
    margin: 0.9rem 0rem 0rem 0rem;
    color: black;
    font-size: 0.9rem;
    height: 1.125rem;
  }

  #wrapper-three-order-data-box-phone-number {
    margin: 0.9rem 0rem 0rem 0rem;
    color: black;
    font-size: 0.9rem;
    height: 1.125rem;
  }

  #wrapper-three-order-data-box-notes {
    margin: 0.9rem 0rem 0rem 0rem;
    color: black;
    font-size: 0.9rem;
    height: 1.125rem;
  }

  #wrapper-three-order-data-box-name-input-field {
    width: 16.65rem;
    height: 2.25rem;
    border: none;
    background: white;
    border-radius: 1.35rem;
    font-size: 0.9rem;
    padding: 0rem 0.675rem 0rem 0.675rem;
  }

  #wrapper-three-order-data-box-delivery-address-input-field {
    margin-top: 0.675rem;
    width: 16.65rem;
    height: 2.25rem;
    border: none;
    background: white;
    border-radius: 1.35rem;
    font-size: 0.9rem;
    padding: 0rem 0.675rem 0rem 0.675rem;
  }

  #wrapper-three-order-data-box-phone-number-input-field {
    margin-top: 0.675rem;
    width: 16.65rem;
    height: 2.25rem;
    border: none;
    background: white;
    border-radius: 1.35rem;
    font-size: 0.9rem;
    padding: 0rem 0.675rem 0rem 0.675rem;
  }

  #wrapper-three-order-data-box-notes-input-field {
    margin-top: 0.675rem;
    width: 16.65rem;
    height: 2.25rem;
    border: none;
    background: white;
    border-radius: 1.35rem;
    font-size: 0.9rem;
    padding: 0rem 0.675rem 0rem 0.675rem;
  }

  #wrapper-three-order-data-box-your-balance-now {
    margin: 0.9rem 0rem 0rem 0rem;
    height: 1.125rem;
  }

  .wrapper-three-order-data-box-order-and-pay-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .wrapper-three-order-data-box-order-and-pay-button-wrapper-order-and-pay-button {
    margin: 1.35rem 0rem 0rem 0rem;
    width: 13.5rem;
    height: 2.25rem;
    background: #5cac0e;
    border-radius: 1.35rem;
    text-decoration: none;
  }

  #wrapper-three-order-data-box-order-and-pay-button-wrapper-order-and-pay-button-text {
    text-align: center;
    color: white;
    font-size: 0.9rem;
    margin-bottom: 0rem;
    line-height: 2.25rem;
  }

  .footer {
    padding: 0.9rem 0rem 0.9rem 0rem;
    height: 5.175rem;
    background: #5cac0e;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-social-media {
    margin-bottom: 0.225rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #footer-social-media-instagram,
  #footer-social-media-facebook {
    margin-right: 0.9rem;
  }

  #footer-social-media-instagram img,
  #footer-social-media-facebook img,
  #footer-social-media-twitter img {
    width: 2.025rem;
    height: 2.025rem;
  }

  #footer-copyright-text {
    color: white;
    font-size: 0.9rem;
    text-align: center;
  }
}

@media only screen and (max-width: 575px) {
  #header {
    padding: 0.6375rem 0rem 0.6375rem 0rem;
  }

  #cateringin-logo-wrapper {
    padding: 0rem;
    margin: 0rem;
  }

  #cateringin-logo-wrapper img {
    width: 6.5875rem;
    height: 3.4rem;
  }

  #nav-item-link {
    color: black;
    font-size: 0.85rem;
  }

  #home-menu,
  #order-menu {
    margin-right: 0rem;
  }

  #burger-icon {
    background-color: #5cac0e;
  }

  .wrapper {
    margin: 1.4rem 0rem 2.55rem 0.6rem;
    display: flex;
    flex-direction: column;
  }

  #wrapper-heading {
    font-size: 1.7rem;
    color: #5cac0e;
    text-align: center;
    margin-bottom: 0rem;
  }

  #wrapper-sub-heading {
    margin: 1.7rem 0rem 0rem 0rem;
    font-size: 1.0625rem;
    text-align: left;
    height: 1.275rem;
  }

  .wrapper-one {
    margin-top: 1.275rem;
    font-size: 0.95625rem;
    color: #5cac0e;
    text-align: left;
  }

  #wrapper-one-row-one {
    margin-bottom: 0.2125rem;
    height: 1.275rem;
  }

  #wrapper-one-row-two {
    margin-bottom: 0rem;
    height: 1.275rem;
  }

  ul {
    margin-bottom: 0rem;
  }

  .wrapper-two-wrapper {
    margin-top: 1.275rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .wrapper-two-wrapper-row-one {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .wrapper-two-wrapper-row-one-food-one {
    text-align: center;
    margin-right: 0rem;
  }

  #wrapper-two-wrapper-row-one-food-one-bigger-text {
    margin-bottom: 0.2125rem;
    font-size: 0.95625rem;
    height: 1.275rem;
  }

  #wrapper-two-wrapper-row-one-food-one-image {
    width: 13.6rem;
    height: 10.2rem;
  }

  #wrapper-two-wrapper-row-one-food-one-smaller-text {
    margin-top: 0.2125rem;
    font-size: 0.85rem;
    height: 1.0625rem;
    color: #5cac0e;
    margin-bottom: 0.85rem;
  }

  .wrapper-two-wrapper-row-one-food-two {
    text-align: center;
    margin-right: 0rem;
  }

  #wrapper-two-wrapper-row-one-food-two-bigger-text {
    margin-bottom: 0.2125rem;
    font-size: 0.95625rem;
    height: 1.275rem;
  }

  #wrapper-two-wrapper-row-one-food-two-image {
    width: 13.6rem;
    height: 10.2rem;
  }

  #wrapper-two-wrapper-row-one-food-two-smaller-text {
    margin-top: 0.2125rem;
    font-size: 0.85rem;
    height: 1.0625rem;
    color: #5cac0e;
    margin-bottom: 0.85rem;
  }

  .wrapper-two-wrapper-row-one-food-three {
    text-align: center;
    margin-right: 0rem;
  }

  #wrapper-two-wrapper-row-one-food-three-bigger-text {
    margin-bottom: 0.2125rem;
    font-size: 0.95625rem;
    height: 1.275rem;
  }

  #wrapper-two-wrapper-row-one-food-three-image {
    width: 13.6rem;
    height: 10.2rem;
  }

  #wrapper-two-wrapper-row-one-food-three-smaller-text {
    margin-top: 0.2125rem;
    font-size: 0.85rem;
    height: 1.0625rem;
    color: #5cac0e;
    margin-bottom: 0.85rem;
  }

  .wrapper-two-wrapper-row-two {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .wrapper-two-wrapper-row-two-food-one {
    text-align: center;
    margin-right: 0rem;
  }

  #wrapper-two-wrapper-row-two-food-one-bigger-text {
    margin-bottom: 0.2125rem;
    font-size: 0.95625rem;
    height: 1.275rem;
  }

  #wrapper-two-wrapper-row-two-food-one-image {
    width: 13.6rem;
    height: 10.2rem;
  }

  #wrapper-two-wrapper-row-two-food-one-smaller-text {
    margin: 0.2125rem 0rem 0.85rem 0rem;
    font-size: 0.85rem;
    height: 1.0625rem;
    color: #5cac0e;
    margin-bottom: 0.85rem;
  }

  .wrapper-two-wrapper-row-two-food-two {
    text-align: center;
    margin-right: 0rem;
  }

  #wrapper-two-wrapper-row-two-food-two-bigger-text {
    margin-bottom: 0.2125rem;
    font-size: 0.95625rem;
    height: 1.275rem;
  }

  #wrapper-two-wrapper-row-two-food-two-image {
    width: 13.6rem;
    height: 10.2rem;
  }

  #wrapper-two-wrapper-row-two-food-two-smaller-text {
    margin: 0.2125rem 0rem 0rem 0rem;
    font-size: 0.85rem;
    height: 1.0625rem;
    color: #5cac0e;
    margin-bottom: 0.85rem;
  }

  .wrapper-three {
    margin-top: 1.275rem;
  }

  #wrapper-three-text {
    font-size: 0.95625rem;
    color: black;
    height: 1.275rem;
    margin-bottom: 0rem;
  }

  .wrapper-three-order-data-box {
    padding: 1.275rem 1.275rem 1.275rem 1.275rem;
    margin-top: 0.6375rem;
    width: 18.275rem;
    height: 25.7125rem;
    background: #ddffcb;
    border-radius: 1.275rem;
  }

  #wrapper-three-order-data-box-name {
    color: black;
    font-size: 0.85rem;
    height: 1.0625rem;
    margin-bottom: 0.6375rem;
  }

  #wrapper-three-order-data-box-delivery-address {
    margin: 0.85rem 0rem 0rem 0rem;
    color: black;
    font-size: 0.85rem;
    height: 1.0625rem;
  }

  #wrapper-three-order-data-box-phone-number {
    margin: 0.85rem 0rem 0rem 0rem;
    color: black;
    font-size: 0.85rem;
    height: 1.0625rem;
  }

  #wrapper-three-order-data-box-notes {
    margin: 0.85rem 0rem 0rem 0rem;
    color: black;
    font-size: 0.85rem;
    height: 1.0625rem;
  }

  #wrapper-three-order-data-box-name-input-field {
    width: 15.725rem;
    height: 2.125rem;
    border: none;
    background: white;
    border-radius: 1.275rem;
    font-size: 0.86rem;
    padding: 0rem 0.6375rem 0rem 0.6375rem;
  }

  #wrapper-three-order-data-box-delivery-address-input-field {
    margin-top: 0.6375rem;
    width: 15.725rem;
    height: 2.125rem;
    border: none;
    background: white;
    border-radius: 1.275rem;
    font-size: 0.86rem;
    padding: 0rem 0.6375rem 0rem 0.6375rem;
  }

  #wrapper-three-order-data-box-phone-number-input-field {
    margin-top: 0.6375rem;
    width: 15.725rem;
    height: 2.125rem;
    border: none;
    background: white;
    border-radius: 1.275rem;
    font-size: 0.86rem;
    padding: 0rem 0.6375rem 0rem 0.6375rem;
  }

  #wrapper-three-order-data-box-notes-input-field {
    margin-top: 0.6375rem;
    width: 15.725rem;
    height: 2.125rem;
    border: none;
    background: white;
    border-radius: 1.275rem;
    font-size: 0.86rem;
    padding: 0rem 0.6375rem 0rem 0.6375rem;
  }

  #wrapper-three-order-data-box-your-balance-now {
    margin: 0.85rem 0rem 0rem 0rem;
    height: 1.0625rem;
  }

  .wrapper-three-order-data-box-order-and-pay-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .wrapper-three-order-data-box-order-and-pay-button-wrapper-order-and-pay-button {
    margin: 1.275rem 0rem 0rem 0rem;
    width: 12.75rem;
    height: 2.125rem;
    background: #5cac0e;
    border-radius: 1.275rem;
    text-decoration: none;
  }

  #wrapper-three-order-data-box-order-and-pay-button-wrapper-order-and-pay-button-text {
    text-align: center;
    color: white;
    font-size: 0.85rem;
    margin-bottom: 0rem;
    line-height: 2.125rem;
  }

  .footer {
    padding: 0.85rem 0rem 0.85rem 0rem;
    height: 4.8875rem;
    background: #5cac0e;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-social-media {
    margin-bottom: 0.2125rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #footer-social-media-instagram,
  #footer-social-media-facebook {
    margin-right: 0.85rem;
  }

  #footer-social-media-instagram img,
  #footer-social-media-facebook img,
  #footer-social-media-twitter img {
    width: 1.9125rem;
    height: 1.9125rem;
  }

  #footer-copyright-text {
    color: white;
    font-size: 0.85rem;
    text-align: center;
  }
}
